h1{
	color: #2380E2;
	font-family: sans-serif;
}
body{
  background-color: #D1CACA;
}
.btn {
  background: #639FDE;
  border-radius: 28px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
}

.btn:hover{
  background-color: #2380E2;
}
#questionaireForm{
  text-align: center;
}
.jumbotron{
	background-color: #dcdcdc;
	text-align: center;
	border-radius: 2px;
}
#main{
}
.mainTitle{
  font-size: 50px;
  width:100px;
}
.navbar-text{
  font-size: 25px;
}
.signupDiv{
  margin-left: 30%;
  width: 600px;
}
.signinDiv{
  margin-left: 30%;
}
#signinForm{
  text-align: left;
}
#signupForm{
  text-align: left;
}
.mainUser{
  float: right;
  margin-top: 25px;
}
.form-control{
  margin-top: 15px;
}
.mainContainer{
  font-size: 20px;
}