<div id="chatroom">
<center>
  <h1 class="chatroom-name"> You know what your problem is? </h1>
  <div class="chat-container" ng-controller="chatCtrl as chatroom">

    <div class="chat-window">
      <p class="chat-message pull-left" ng-repeat="chat in chatroom.chats">{{chat.user}}User: {{chat.message}}</p><br>
    </div>
    <br>
    <div class="chat-form">
      <form name="chatForm" ng-submit="chatForm.$valid && chatroom.postChat(chatroom.message)" novalidate>

        <textarea cols="45" ng-model="chatroom.message" placeholder="Trolling . . ." ng-click="chatroom.message = null" required></textarea>
        <input id="submit-chat" value="Slandr" type="submit">
      </form>
    </div>


  </div>
  

  </center>
</div>