<div id='signup'>

<!-- 
STRUCTURE

LEFT COL SHORT
profile picture
profile name
user info below

RIGHT COL WIDE
user description
user stats
user achievements
	user trophies
	user belts
 -->
<div class="userProfile">
<div class="animated fadeIn userInfo">
	<img src="http://3.bp.blogspot.com/-6M50BF8VIAY/TuMUXF16GtI/AAAAAAAABRU/lhTcmX8UwkM/s1600/martin-schoeller-barack-obama-portrait-up-close-and-personal.jpg" height="300" width="250" /> 

  	<h1>{{ profile.username }}</h1>
  	<h3>{{ profile.firstname }}</h3>
  	<h3>{{ profile.lastname }}</h3>
  	<h3>{{ profile.email }}</h3>
</div>

<div class="animated fadeIn userDescription">
	<h3>Bio</h3>
	{{ profile.bio }}
	<h3>Answers</h3>
	{{ profile.answers }}
</div>
</div>

</div>
