<div class='animated slideInUp questionaire'>
  <form id="questionaireForm" name="questionForm" ng-submit='finished()'>
    <center><h1>Questionaire</h1></center>
    <label><u>Controversial Questions</u></label>
    <label style="float:right;"><u>Yes/No</u></label>
    <br>
    <label>1. are you okay hmmmm!? everything made sense two longer question?!</label>
    <input type="checkbox" ng-model='questions.answer2'>
    <br>
    <label>2. are you okay hmmmm!? everything made sense two longer question?!</label>
    <input type="checkbox" ng-model='questions.answer3'>
    <br>
    <label>3. are you okay hmmmm!? everything made sense two longer question?!</label>
    <input type="checkbox" ng-model='questions.answer4'>
    <br>
    <label>4. are you okay hmmmm!? everything made sense two longer question?!</label>
    <input type="checkbox" ng-model='questions.answer5'>
    <br>
    <label>5. are you okay hmmmm!? everything made sense two longer question?!</label>
    <input type="checkbox" ng-model='questions.answer6'>
    <br>
    <label>6. are you okay hmmmm!? everything made sense two longer question?!</label>
    <input type="checkbox" ng-model='questions.answer7'>
    <br>
    <label>7. are you okay hmmmm!? everything made sense two longer question?!</label>
    <input type="checkbox" ng-model='questions.answer8'>
    <br>
    <label>8. are you okay hmmmm!? everything made sense two longer question?!</label>
    <input type="checkbox" ng-model='questions.answer9'>
    <br>
    <label>9. are you okay hmmmm!? everything made sense two longer question?!</label>
    <input type="checkbox" ng-model='questions.answer10'>
    <br>
    <label>10. are you okay hmmmm!? everything made sense two longer question?!</label>
    <input type="checkbox" ng-model='questions.answer0'>
    <br>
    <center><button>Submit</button></center>
  </form>
</div>