<div class='animated slideInUp questionaire'>
  <form id="questionaireForm" name="questionForm" ng-submit='finished()'>
    <center><h1>Questionaire for {{ userInfo.username }}</h1></center>
    <hr>
    <label><u>Controversial Questions</u></label>
    <label style="float:right;"><u>Yes/No</u></label>
    <label>1. are you okay hmmmm!? everything made sense two longer question?!</label>

    <div class="questInput"><input type="checkbox" ng-model='questions.answer1'></div>
    <hr>
    <label>2. are you okay hmmmm!? everything made sense two longer question?!</label>
    <div class="questInput"><input type="checkbox" ng-model='questions.answer2'></div>
    <hr>
    <label>3. are you okay hmmmm!? everything made sense two longer question?!</label>
    <div class="questInput"><input type="checkbox" ng-model='questions.answer3'></div>
    <hr>
    <label>4. are you okay hmmmm!? everything made sense two longer question?!</label>
    <div class="questInput"><input type="checkbox" ng-model='questions.answer4'></div>
    <hr>
    <label>5. are you okay hmmmm!? everything made sense two longer question?!</label>
    <div class="questInput"><input type="checkbox" ng-model='questions.answer5'></div>
    <hr>
    <label>6. are you okay hmmmm!? everything made sense two longer question?!</label>
    <div class="questInput"><input type="checkbox" ng-model='questions.answer6'></div>
    <hr>
    <label>7. are you okay hmmmm!? everything made sense two longer question?!</label>
    <div class="questInput"><input type="checkbox" ng-model='questions.answer7'></div>
    <hr>
    <label>8. are you okay hmmmm!? everything made sense two longer question?!</label>
    <div class="questInput"><input type="checkbox" ng-model='questions.answer8'></div>
    <hr>
    <label>9. are you okay hmmmm!? everything made sense two longer question?!</label>
    <div class="questInput"><input type="checkbox" ng-model='questions.answer9'></div>
    <hr>
    <label>10. are you okay hmmmm!? everything made sense two longer question?!</label>
    <div class="questInput"><input type="checkbox" ng-model='questions.answer10'></div>
    <hr>
    <label><u>{{ userInfo.username }} Bio</u></label>
    <br>
    <label>Write a bio so everyone can laugh at you!</label>
    <br>
    <textarea required maxlength="125" placeholder="125 character limit" class="userBio" ng-model="userInfo.bio"></textarea>
    <hr>
    <center><button>Submit</button></center>
  </form>


</div>